<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208263594321-r4jrt487rjdkbb8bji22t6ubees3252n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208263594321-r4jrt487rjdkbb8bji22t6ubees3252n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208263594321-ts7giq3csom7ts194kdgpnl936ffd3li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsiAZTffWuJIeD0eLTCbYZmL98cUxXfy4</string>
	<key>GCM_SENDER_ID</key>
	<string>208263594321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftmyplateui</string>
	<key>PROJECT_ID</key>
	<string>craftmyplate-aa7f9</string>
	<key>STORAGE_BUCKET</key>
	<string>craftmyplate-aa7f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208263594321:ios:4ada09c6175e5859401370</string>
</dict>
</plist>